.sidenav{
  background-color: #3f51b5;
  width: 200px;
}

.sidenav a{
  color: #fff;
}

.sidenav a:hover{
  color: #fff;
  background-color: #3447b3;
  transition: .3s ease-in-out;
}

.sidenav i {
  padding-right: 10px;
}

.content{
  padding: 16px;
  background-color: #fff;
}